@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=DM+Sans:wght@400;500;600&display=swap'); */

@variant dark (&:where(.dark, .dark *));

:root {
  --toast-bg: #ffffff;
  --toast-color: #1f2937;
  --toast-border: #e5e7eb;
}

.dark {
  --toast-bg: #111827;
  --toast-color: #f9fafb;
  --toast-border: #374151;
}